.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Capsuula';
  src: local('Capsuula'), url(./fonts/Capsuula.ttf) format('truetype');
}

@font-face {
  font-family: 'Decomart';
  src: local('Decomart'), url(./fonts/Decomart.ttf) format('truetype');
}

@font-face {
  font-family: 'bebas';
  src: local('bebas'), url(./fonts/bebas.ttf) format('truetype');
}

@font-face {
  font-family: 'minimal';
  src: local('minimal'), url(./fonts/minimal.ttf) format('truetype');
}

.corner {


  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: bebas;
  font-weight: 500;

}



.parallax {
  text-align: center;
}

.bigtext {
  color: white;
  font-size: 60px;
  align-self: flex-start;
}


.subtext {
  color: white;
  font-size: 30px;
}